body {
    max-width: 960px;
    margin: auto;
    padding: 5px;
}

header h1 {
    text-align: center;
    font-size: 40pt;
}

footer {
    font-size: small;
}

footer img {
    width: 100%;
    height: auto;
}
